<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My HTML Page</title>
    <style>
        body{
            background-color: pink;
        }
        .image1{
            border-radius: 10%;
            border-style: dotted;
            border-color: red;
            margin-left: 20%;
        }
        h6{
            font-size: 500%;
        }
    </style>
</head>
<body>
    <p>It's <i>very</i> <b> very</b> <strong>hot</strong> today</p>
    <img class = "image1" src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcSxyfY-Peq1yCGpKyAy5RToM6LowskzRC85Bd7_mkeahLtD7TQQ&usqp=CAU" alt="">
    <img src="../static/the-dark-city.jpg" alt="">
    <h1>How are you?</h1>
    <h2>How are you?</h2>
    <h3>How are you?</h3>
    <h4>How are you?</h4>
    <h5>How are you?</h5>
    <h6>How are you?</h6>

    <ul>
        <li>one</li>
        <li>Two</li>
        <li>Three</li>
    </ul>

    <ol>
        <li>One</li>
        <li>Two</li>
        <li>Three</li>
    </ol>

    <a href="https://www.github.com" target="_blank">Link for github</a>

</body>
</html>